@charset "UTF-8";
/* line 1, app/assets/stylesheets/common.scss */
body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 180px;
  box-sizing: border-box;
  color: #333333;
}

/* line 8, app/assets/stylesheets/common.scss */
ul {
  list-style: none;
}

/* line 12, app/assets/stylesheets/common.scss */
a:hover {
  text-decoration: none;
  color: #333333;
}

/* line 18, app/assets/stylesheets/common.scss */
.btn-primary {
  background-color: #4a90e2 !important;
}

/* line 22, app/assets/stylesheets/common.scss */
.header {
  width: 100%;
  height: 70px;
  padding: 4px 30px;
  background-color: #000000;
}

/* line 27, app/assets/stylesheets/common.scss */
.header .nav-item {
  display: inline-block;
  color: #fff;
  font-size: 14px;
}

/* line 32, app/assets/stylesheets/common.scss */
.header-left-nav {
  float: left;
}

/* line 34, app/assets/stylesheets/common.scss */
.header-left-nav form {
  display: inline-block;
}

/* line 37, app/assets/stylesheets/common.scss */
.header-left-nav .form-control {
  width: 180px;
  display: inline-block;
  position: relative;
  border-radius: 2px;
  padding-left: 30px;
}

/* line 45, app/assets/stylesheets/common.scss */
.header-sharch {
  position: relative;
}

/* line 48, app/assets/stylesheets/common.scss */
.header i {
  position: absolute;
  top: 10px;
  left: 8px;
  font-size: 18px;
}

/* line 54, app/assets/stylesheets/common.scss */
.header-right-nav {
  float: right;
}

/* line 57, app/assets/stylesheets/common.scss */
.header-nav-menu {
  background-color: #fff;
  border: 3px solid #F6F8F9;
  display: none;
  position: absolute;
  top: 70px;
  right: 10px;
  padding: 15px;
  z-index: 1000;
}

/* line 66, app/assets/stylesheets/common.scss */
.header-nav-menu li {
  line-height: 30px;
  font-size: 16px;
  padding: 3px 5px;
}

/* line 74, app/assets/stylesheets/common.scss */
.notifications {
  color: #fff;
  text-align: center;
}

/* line 78, app/assets/stylesheets/common.scss */
.notifications .notice {
  background-color: lightBlue;
}

/* line 82, app/assets/stylesheets/common.scss */
.notifications .alert {
  background-color: #F35500;
}

/* line 88, app/assets/stylesheets/common.scss */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* line 94, app/assets/stylesheets/common.scss */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 180px;
  margin-top: 64px;
  padding-top: 90px;
  background-color: #111;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
}

/* line 107, app/assets/stylesheets/common.scss */
.host-icon {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 50px;
}

/* line 115, app/assets/stylesheets/common.scss */
.required-a::after {
  content: "必須";
  color: #fff;
  background-color: #ff0000a8;
  font-size: 12px;
  border-radius: 5px;
  padding: 4px;
  margin: 0 5px;
}

/* line 125, app/assets/stylesheets/common.scss */
.required-b::before {
  content: "必須";
  color: #fff;
  background-color: #ff0000a8;
  font-size: 12px;
  border-radius: 5px;
  padding: 4px;
  margin: 0 5px;
}

/* line 135, app/assets/stylesheets/common.scss */
.price-icon::before {
  content: "￥";
  padding-right: 3px;
}
