<footer class="Footer">
  <div class="container-fluid">
    <%= link_to image_tag("/assets/common/logo.png", class: "Footer__logo", alt: "サイトロゴ"), root_path %>

    <p class="Footer__copyright">
      Copyright © Potepan Share <%= Time.current.year %> All rights reserved
    </p>
  </div>
</footer>